---
- name: upload ssh key
  amazon.aws.ec2_key:
    name: my_keypair
    key_material: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"

- name: create ec2 instance
  amazon.aws.ec2_instance:
    key_name: my_keypair
    region: "{{ region }}"
    image_id: "{{ image_id }}"
    instance_type: "{{ instance_type }}"
    security_group: "{{ type }}-sg"
    wait: yes
    tags:
      Type: "{{ type }}"
      Env: "{{ env }}"
      Name: "{{ type }}-{{ item }}"
  loop: "{{ range(1, instances + 1) | list }}"
  register: ec2_instances

- name: debug ec2_instances
  ansible.builtin.debug:
    var: ec2_instances.results[0].instances[].public_ip_address

- name: create public_ip_address list
  ansible.builtin.set_fact:
    public_ip_addresses: "{{ public_ip_addresses | default([]) + [item.public_ip_address] }}"
  loop: "{{ ec2_instances.results[0].instances }}"

- name: debug public_ip_address
  ansible.builtin.debug:
    var: public_ip_addresses

- name: Wait for SSH to come up on instance
  wait_for:
    host: "{{ item }}"
    port: 22
    delay: 15
    timeout: 320
    state: started
  loop: "{{ public_ip_addresses }}"